@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hoşgeldiniz</h1>
    <p>Yeni talep eklemek için giriş yapın, henüz üye değilseniz kayıt olmalısınız.</p>
</div>
