
@{
    ViewData["Title"] = "AccessDenied";
}

<div class="alert alert-danger">
    Bu sayfaya erişim hakkınız yok.
</div>

<a asp-controller="Home" asp-action="Index" class="btn btn-primary btn-lg">Anasayfa</a>